kg_agents/data/
kg_agents/output_history/
__pycache__/
kg_agents/tests/
kg_agents/tests/llm.log
.ipynb_checkpoints/
.plan/
.claude/
.vscode/
kg_agents/sample/
kg_agents/kg/templates/

*.html
*.json
*.zip
*.png
*.jpg
*.jpeg
!src/hardware.png
!src/xlife.png
kg_agents/core/server.py
!kg_agents/config.json